<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Lance Stasinski Blog</title>
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1"
      name="viewport"
    />
    <link rel="stylesheet" href="css/blog-pages/about/about.css" />
  </head>

  <body class="container">
    <header class="header">
      <h1>A Journey Into Frontend Devolopment</h1>
      <nav>
        <ul class="nav-list">
          <li><a href="home">Home</a></li>
          <li><a href="subscribe">Subscribe</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <img src="photos/head shot_2.jpg" alt="Photo of Lance" />
      <h2>About the Blog</h2>
      <p>
        <strong>Hello world!</strong> I'm Lance Stasinski. I've tried a lot of
        things in my short life, but I've focused on biology for the longest
        time. I discovered my joy of coding in my pursuit of a masters degree in
        biology. Many statistical analyses are conducted using the R statistical
        programming language, which has provoked me to learn more about careers
        in programming. Although I'm still pursuing a masters in biology, I have
        decided to work towards a strong knowledge in Frontend Devolopment to
        increase my skillset. Please check out my blog to follow my journey into
        web development.
      </p>
    </main>
    <aside class="side">
      <div class="posts">
        <h2>Posts</h2>
        <div class="posts-links">
          <a href="about" id="active-post" class="link">About</a>
          <a href="april-1-2021" class="link"
            ><time datetime="2021-04-01">April 1<sup>st</sup>, 2021</time></a
          >
          <a href="march-31-2021" class="link"
            ><time datetime="2021-03-31">March 31<sup>st</sup>, 2021</time></a
          >
          <a href="march-30-2021" class="link"
            ><time datetime="2021-03-30">March 30<sup>th</sup>, 2021</time></a
          >
        </div>
      </div>
      <div class="social-media">
        <h2>Social Media</h2>
        <div class="media-links">
          <a href="https://github.com/LanceStasinski">
            <img src="photos/gh.png" alt="Github logo" />
          </a>
          <a href="https://www.linkedin.com/in/lance-stasinski/">
            <img src="photos/linkedin.png" alt="LinkedIn logo" />
          </a>
          <a href="https://twitter.com/LanceStasinski">
            <img src="photos/twitter.png" alt="Twitter logo" />
          </a>
        </div>
      </div>
    </aside>
    <footer>
      <a href="home">Home</a>
      <a href="subscribe">Subscribe</a>
      <a href="contact">Contact</a>
      <a href="https://lancestasinski.herokuapp.com/portfolio"
        >lancestasinski.herokuapp.com</a
      >
    </footer>
  </body>
</html>
