<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Projects | Blog</title>
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1"
      name="viewport"
    />
    <link rel="stylesheet" href="css/blog-pages/general-blog/blog.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="icon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="icon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="icon/favicon-16x16.png" />
    <link rel="manifest" href="icon/site.webmanifest" />
  </head>
  <body class="container">
    <header class="header">
      <h1>A Journey Into Frontend Devolopment</h1>
      <nav>
        <ul class="nav-list">
          <li><a href="home">Home</a></li>
          <li><a href="subscribe">Subscribe</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <article class="block">
        <div class="post-header">
          <img
            src="photos/head shot_2.jpg"
            alt="Photo of Lance"
            class="thumbnail"
          />
          <div class="name-date">
            <h2 class="name">Lance Stasinki</h2>
            <h3 class="date">
              <time datetime="2021-04-01"> April 1<sup>st</sup>, 2021</time>
            </h3>
          </div>
        </div>
        <h2 id="post-title">Learning HTML and CSS</h2>
        <div class="post-content">
          <p>
            I took a web programming class in high school, which was about seven
            or eight years ago. Surprisingly, some of the concepts of HTML and
            CSS are coming back to me pretty quickly. It also helps that I've
            been troubleshooting with R for the past year and a half while
            trying to run statistical analyses using multivariate machine
            learning models. Overall, HTML and CSS has been pretty fun to learn,
            and I appreciated the enthusiam about coding from <i>Udacity's</i>
            <u>Daniel Silver Baker</u>.
          </p>
          <h3>What I like about Udacity</h3>
          <p>
            <i>Udacity</i> does a great job with introducing students to outside
            resources like
            <a href="https://developer.mozilla.org/en-US/"> MDN Web Docs</a>.
            Being confortable with engaging with other resources has already
            proved useful for constructing this website. I also think
            <i>Udacity</i>, and especially <u>Daniel Silver Baker</u>, do a
            great job at making coding accessible to a broad audience. Coding
            can come off as daunting to a lot of people, so
            <i>Udacity's</i> welcoming attitude makes coding seem more fun and
            exciting. I've also enjoyed the short quizes along the way and the
            hands-on practice.
          </p>
          <h3>What could use some improvement</h3>
          <p>
            Although I like the hands-on practice, I think there could be
            substantially more. I have been utilizing
            <a href="https://www.freecodecamp.org/learn/">freecodecamp's</a>
            tutorials as a secondary source for learning HTML and CSS as I feel
            the extra practice is needed. It's not neccessarily a bad thing that
            Udacity does not hold your hand the whole way, but it does feel like
            they could offer more considering it is a paid service. However,
            this is my first impression and there is still much I have yet to
            experience with Udacity.
          </p>
        </div>
      </article>
    </main>
    <aside class="side">
      <div class="posts">
        <h2>Posts</h2>
        <div class="posts-links">
          <a href="about" class="link">About</a>
          <a href="april-1-2021" id="active-post" class="link"
            ><time datetime="2021-04-01">April 1<sup>st</sup>, 2021</time></a
          >
          <a href="march-31-2021" class="link"
            ><time datetime="2021-03-31">March 31<sup>st</sup>, 2021</time></a
          >
          <a href="march-30-2021" class="link"
            ><time datetime="2021-03-30">March 30<sup>th</sup>, 2021</time></a
          >
        </div>
      </div>
      <div class="social-media">
        <h2>Social Media</h2>
        <div class="media-links">
          <a href="https://github.com/LanceStasinski">
            <img src="photos/gh.png" alt="Github logo" />
          </a>
          <a href="https://www.linkedin.com/in/lance-stasinski/">
            <img src="photos/linkedin.png" alt="LinkedIn logo" />
          </a>
          <a href="https://twitter.com/LanceStasinski">
            <img src="photos/twitter.png" alt="Twitter logo" />
          </a>
        </div>
      </div>
    </aside>
    <footer>
      <a href="home">Home</a>
      <a href="subscribe">Subscribe</a>
      <a href="contact">Contact</a>
      <a href="https://lancestasinski.herokuapp.com/portfolio"
        >lancestasinski.herokuapp.com</a
      >
    </footer>
  </body>
</html>
